[submodule "1Semestre/EstruturaAvancada/Trabalho-1-estruturas-de-Dados-Avancadas"]
	path = 1Semestre/EstruturaAvancada/Trabalho-1-estruturas-de-Dados-Avancadas
	url = https://github.com/MatheusMarquesEiras/Trabalho-1-estruturas-de-Dados-Avancadas.git
[submodule "1Semestre/EstruturaAvancada/trabalho-2-estrutura-de-dados-avan-ada"]
	path = 1Semestre/EstruturaAvancada/trabalho-2-estrutura-de-dados-avan-ada
	url = https://github.com/MatheusMarquesEiras/trabalho-2-estrutura-de-dados-avan-ada.git
[submodule "1Semestre/GerenciamentoDeProjetos/Kanban/Sandro-Ciro-Matheus"]
	path = 1Semestre/GerenciamentoDeProjetos/Kanban/Sandro-Ciro-Matheus
	url = https://github.com/MatheusMarquesEiras/Sandro-Ciro-Matheus.git
	branch = main
